{% extends "lab_10/layout/base.html" %}

{% block content %}
{% if watch_later_movies %}
{% for movie in watch_later_movies %}

<div class="panel panel-default" id=watch-later-{{movie.imdbid}}>
  <div class="panel-heading">
    <h3> {{movie.title}} ({{movie.year}})<h3>
  </div>
  <div class="panel-body">
    <img src='{{movie.poster}}' style='height:50%;float: left;margin:2%' class='img-responsive img-thumbnail' id='gambar'/><br>
    <h4>{{movie.plot}}</h4>
  </div>
  <div class="panel-footer">
    <a href='/lab-10/movie/detail/{{movie.imdbid}}'style="margin-left:2%" class='btn btn-primary'> Detail Film</a>
    <a class="btn btn-default btn-warning" style="float: right; margin-left: 10px;" onclick="deleteButton('{{ movie.imdbid }}')"> Delete from WatchLater </a>
    <br>
  </div>
</div>
{% endfor %}
{% else %}
<div class="alert alert-danger text-center"> <strong>Opps!</strong> Tidak ada watch later</div>
{% endif %}
{% endblock %}
{% block javascript %}
<script type="text/javascript">
    $(document).ready(function() {
      if ($(window).width() < 692) {
        $("#gambar").css("float","none");
      }
    });
		var deleteButton = function(id) {
            $.ajax({
                method: "GET",
                url: '/lab-10/movie/watch_later/delete/' + id,
                data: { id: id},
                success : function (response) {
                  console.log(response);
                    $("#watch-later-" + id).remove()
                },
                error : function (error) {
                    alert("Movie tersebut tidak ada");
                }
            });
         };
</script>
{% endblock %}
