    {% extends "lab_4/layout/base.html" %}

    {% block content %}
    <h1>Portofolio</h1>
    <hr/>
	<section name="photo">
		<h2>Wikan Setiaji</h2>
		<img class="img-circle" src="https://lh3.googleusercontent.com/CGOx8uDT9tv8KzMXa2LdVSvKSgkio6s_8ZxriQy2Wq7Q4tpvTzVuETzeOOPSbpch-d5flVr168fG=w176-h176-n-o-rw" height="100" width="100"></img>
	</section>
	<hr/>
    <section name="bio">
        <h2>Bio</h2>
        <p>
            {{content}}<br>
        </p>    
    </section>
    <hr/>
    <section name="about_me">
        <h2>List</h2>
        <ul>
            {% for ii in about_me %}
            <li> {{ ii }} </li>
            {% endfor %}
        </ul>
    </section>
    <hr/>
	<section name="form">
        <h2>Send Message</h2>
        <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
            {% csrf_token %}
            {{ message_form }}
            <br>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </section>

    {% endblock %}

