<!-- Fixed navbar -->
 <nav class="navbar navbar-default ">
   <div class="container-fluid">
     <div class="navbar-header">
       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
       <a class="navbar-brand" href="{% url 'lab-10:index' %}">Lab 10</a>
     </div>
     <div id="navbar" class="navbar-collapse collapse">
       <ul class="nav navbar-nav navbar-right">
         <!-- LINK MENUJU table, dan link menuju home#form -->
         {% if tombol == 1 %}
         <li><a href="{% url 'lab-10:movie_list' %}"><button class="btn btn-primary btn-round "> Daftar Movie </button> </a></li>
         <li><a href="{% url 'lab-10:list_watch_later' %}"><button class="btn btn-warning btn-round "> Daftar Watch Later</button> </a></li>
         <li><a href="{% url 'lab-10:auth_logout' %}"> <button class="btn btn-danger btn-round ">Logout </button></a></li>

         {% endif %}
       </ul>
     </div><!--/.nav-collapse -->
   </div>
 </nav>
